body {
  background: #1A1A1A;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

#container {
  height: 100vh;
  position: relative;
}

#viz {
  position: fixed;
  width: 100%;
  max-width: 1600px;
  height: 100vh;
  background: url(eipc2.svg) no-repeat;
  background-position: center;
  background-size: cover;
}

.map svg {
  max-height: 100vh;
  margin-left: -200px;
}
.map svg path {
  fill:#333;
  stroke:#4d4d4d;
  stroke-miterlimit: 10;
  stroke-width: 2.04px;
}

#container-native {
  height: 12000px;
}

#slide-native {
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  position: sticky;
  top: -1px;
  max-width: 1600px;
}

#map-native svg path.active {
  fill: #ed1e79;
}

#map-native svg path.active-banda {
  fill: #FFFF00;
}

#map-native svg path.active-norteno {
  fill: #305271;
}

#map-native svg path.active-mariachi {
  fill: #652D90;
}

body svg path.fill {
  fill: #444;
}

#container-corridos {
  height: 100vh;
}

.hidden {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  opacity: 0;
}

.visible {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 1;
}

#main-title {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

#main-title h1 {
  color: white;
  font-family: 'Rye', cursive;
  font-weight: normal;
  font-size: 500%;
  white-space: nowrap;
  margin: 0px;
  opacity: 0;
}

#main-title h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #999;
  margin: 0px;
  margin-top: -4px;
  opacity: 0;
}

#thoughts {
  display: none;
  width: 400px;
  top: 185px;
  right: 50px;
  color: #999;
}

#thoughts a {
  color: #999;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 8px;
  margin: -8px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  opacity: 0;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

h3 {
  color: white;
  font-family: 'Rye', cursive;
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

#sonjarocho-title h3, #huapango-title h3 {
  font-size: 25px;
}

.group-title {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  float: right;
  width: 470px;
  text-align: center;
  padding: 0px 20px;
  position: absolute;
  top: 5px;
  right: 5%;
  margin-top:30px;
  opacity: 0;
}

.group-title a {
  display: inline-block;
  cursor: pointer;
}

.timeline {
  width: 350px;
}

#native-title {
  opacity: 1;
}

.description p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #ccc;
  width: 50%;
  margin: 500px auto;
  text-align: center;
}

#corridos {
  position: relative;
}

#corridos-title {
  opacity: 0;
}

#ranchera-title {
  opacity: 0;
}

@media screen and (max-width: 960px) {
  h1 {
    line-height: 1;
  }
  h2 {
    display: none;
  }
}

.tip {
  position: absolute;
  width: 230px;
  color: white;
  font-size: 12px;
  left: 200px;
  background-color: transparent;
  cursor: pointer;
  opacity: 0;
  transform: translate3d(0,0,0);
}

h4 {
  color: white;
  font-family: 'Rye', cursive;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 0px;
}

.tip h4 img {
  width: 20px;
  float: left;
  padding-right: 10px;
}

.tip a.play {
  position: absolute;
  left: 0;
}

/* .waves gets width from parent */
.wave-container {
  width: 150px; 
  margin-left: 15px;
  transform: translate3d(0,0,0);
}

.waves {
  margin-left: 3px;
  margin-top: 6px;
}

.wave-btn {
  width: 20px;
  margin-top: 15px;
}

.tip-content {
  visibility: hidden;
}

.tip-content img {
  width: 50px; 
  float:left;
  padding: 0 10px 0px 0px
}

.tip-content a {
  color: #999;
}

/* FLOWERS */

.leaf .cls-1 {
  fill:none;
  stroke:#39b54a;
  stroke-miterlimit:10;
  stroke-width:2px;
}
.leaf .cls-2 {
  fill:#39b54a;
}

[id^="native"] .cls-1 {
  fill:#f0f;
}
[id^="native"] .cls-2 {
  fill:#ed1e79;
}

[id^="corridos"] .cls-1 {
  fill:#f15a24;
}
[id^="corridos"] .cls-2 {
  fill:#f7931e;
}

[id^="sonjarocho"] .cls-1 {
  fill:#f15a24;
}
[id^="sonjarocho"] .cls-2 {
  fill:#fff;
  opacity:0.08;
}
[id^="sonjarocho"] .cls-3 {
  fill:#f7931e;
}

[id^="huapango"] .cls-1 {
  fill:#ec297b;
}
[id^="huapango"] .cls-2 {
  fill:#faaf40;
  opacity:0.55;
}
[id^="huapango"] .cls-3 {
  fill:#f2f2f2;
  opacity:0.21;
}

[id^="banda"] .cls-1 {
  fill:#ff0;
  opacity:0.85;
}

[id^="norteno"] .cls-1 {
  fill:#f6921e;
}
[id^="norteno"] .cls-2 {
  fill:#478bc9;
}

[id^="mariachi"] .cls-1 {
  fill:#652d90;
  opacity:0.9;
}
[id^="mariachi"] .cls-2 {
  fill:none;
  stroke:#f6921e;
  stroke-miterlimit:10;
  stroke-width:1.32px;
}
[id^="mariachi"] .cls-2, [id^="mariachi"] .cls-3 {
  opacity:0.56;
}
[id^="mariachi"] .cls-3 {
  fill:#faaf40;
}
[id^="mariachi"] .cls-4 {
  fill:#f6921e;
  opacity:0.95;
}

@keyframes zoomin {
  0% {
      transform: scale(1,1);
  }
  100% {
      transform: scale(1.5,1.5);
  }
}

.zoomzoom {
  animation: zoomin 2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes zoomleft {
  0% {
      transform: scale(1.5,1.5) translate(0%, 0%);
     -webkit-transform: scale(1.5,1.5) translate(0%, 0%);
  }
  100% {
      transform: scale(1.65,1.65) translate(-20%, -8%);
     -webkit-transform: scale(1.65,1.65) translate(-20%, -8%);
  }
}

.zoomleft {
  animation: zoomleft 2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes zoomright {
  0% {
    transform: scale(1.65,1.65) translate(-20%, -8%);
     -webkit-transform: scale(1.65,1.65) translate(-20%, -8%);
  }
  100% {
      transform: scale(1.25,1.25) translate(10%, 0%);
     -webkit-transform: scale(1.25,1.25) translate(10%, 0%);
  }
}

.zoomright {
  animation: zoomright 2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes zoomtop {
  0% {
    transform: scale(1.25,1.25) translate(10%, 0%);
     -webkit-transform: scale(1.25,1.25) translate(10%, 0%);
  }
  100% {
      transform: scale(1.25,1.25) translate(0%, 30%);
     -webkit-transform: scale(1.25,1.25) translate(0%, 30%);
  }
}

.zoomtop {
  animation: zoomtop 2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes zoomout {
  0% {
    transform: scale(1.25,1.25) translate(0%, 30%);
     -webkit-transform: scale(1.25,1.25) translate(0%, 30%);
  }
  100% {
    transform: scale(1,1) translate(0%, 0%);
    -webkit-transform: scale(1,1) translate(0% 0%);
  }
}

.zoomout {
  animation: zoomout 2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes wiggle {
  0% {transform: rotate(0deg);}
  20% {transform: rotate(-10deg);}
  40% {transform: rotate(10deg);}
  60% {transform: rotate(-10deg);}
  80% {transform: rotate(10deg);}
  100% {transform: rotate(0deg);}
}

h3 a {
  transform: translateZ(0) rotateZ(360deg);
  backface-visibility: hidden;
  perspective: 1000;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

h3 a img:hover {
  /* background-color: #ccc;
  box-shadow: 0 0 0px 0px #999, 0 0 0px 0px #f0f,0 0 7px 3px white;
  border-radius: 80px; */
}